@use "src/scss/mixins/reset" as reset;

.list {
  display: grid ();
  gap: 25px;
  grid-template-columns: repeat(6, 1fr);
}

.image {
  height: 100%;
  min-height: 250px;
  object-fit: cover;
}

.item {
  display: grid;
  gap: 8px;
  grid-template-rows: 1fr max-content;
}

.size {
  text-align: center;
}
