@use "src/scss/mixins/text" as text;
@use "src/scss/variables" as variables;
@use "src/scss/mixins/utility" as utility;

.dropzone_container {
  display: grid;
  position: relative;
}

.input {
  @include utility.hidden();
}

.icon {
  height: 64px;
  width: 64px;
}

.dropzone {
  @include utility.focus();
  align-items: center;
  border: 1px dashed variables.$main-border-color;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  min-height: 200px;
  width: 100%;

  &:hover:not(.dropzone_disabled) {
    border-color: variables.$main-active-border-color;
  }

  &:focus {
    border-color: variables.$main-active-border-color;
  }
}

.dropzone_text {
  @include text.textRegular-14();
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
