@use "src/scss/mixins/reset" as reset;

.list {
  @include reset.list-style-none();
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  max-width: 700px;
}

.item {
  align-items: center;
  display: flex;
  justify-content: center;
}
