@use "src/scss/mixins/reset" as reset;
@use "src/scss/mixins/text" as text;
@use "src/scss/variables" as variables;

.button {
  @include reset.reset-button();
  align-items: center;
  background-color: #e9f1fb;
  color: variables.$dark-text-color;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  width: 100%;

  &.default {
    border-radius: 16px;
    height: 50px;

    &:disabled {
      background-color: #9e9e9e;
      cursor: no-drop;
    }
  }

  &.helper {
    border-radius: 16px 16px 0 0;
    height: 25px;

    &.active {
      background-color: #9e9e9e;
      color: variables.$main-text-color;
    }

    &:disabled {
      background-color: #9e9e9e;
      cursor: no-drop;
    }
  }
}
