@use "./scss/mixins/text" as text;
@use "./scss/variables" as variables;

.title {
  @include text.textRegular-32();
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 500px;
  text-align: center;
}
