// FONT FAMILY

$font-family-roboto: "Ubuntu", sans-serif;

// FONT WEIGHTS

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// COLORS

$main-color: linear-gradient(59deg, #121423 -1.16%, #1f1d32 87.22%);
$range-track-main-color: linear-gradient(59deg, #202238 -1.16%, #302e45 87.22%);
$thumb-main-color: linear-gradient(180deg, #4caf50 0%, #2e8b57 100%);
$main-text-color: #ffffff;
$main-border-color: #97a1bc;
$main-active-border-color: #00ffff;
$dark-text-color: #223c50;
$disabled-color: #9e9e9e;

// BOX-SHADOWS

/* stylelint-disable-next-line scss/dollar-variable-colon-space-after */
$basic-box-shadow:
  0 0 0 1px transparent,
  0 0 0 2px #223c50;
